html {
  font-size: 16px;
}

body {
  margin: 0 auto;
  background-color: #f9f9f9;
}

h1 {
  color: #03eca2;
  font-family: 'Mada', sans-serif;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
  margin-left: 1em;
}

h2 {
  color: #03eca2;
  font-family: 'Mada', sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  font-size: 0.95rem;
  line-height: 1.5;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-right: 25px;
  margin-left: 25px;
}

h3 {
  color: #282828;
  font-family: 'Mada', sans-serif;
  font-weight: 700;
  font-stretch: ultra-expanded;
  font-size: 1.6rem;
  line-height: 1.2;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  margin-right: 1em;
  margin-left: 1em;
}

p {
  color: #282828;
  font-family: 'Mada', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4;
  margin-top: 1px;
  margin-bottom: 20px;
  margin-right: 25px;
  margin-left: 25px;

}

img {
  width: 100%;
  height: auto;
}

Erste {
  width: 33.33%;
  float: right;
}

aside {
  width: 33.33%;
  float: right;
}






/* ab hier von stefan huber */

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.col-1 {
  width: 33.33%;
  float: left;
}

.col-2 {
  width: 66.66%;
  float: left;
}


.col-3 {
  width: 100%;
  float: left;
}

.columns:after {
  content: "";
  display: table;
  clear: both;
}
